.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.head-container {
    display: flex;
    width: 1920px;
    height: 909px;
    background: #f4eaec;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.head-title {
    width: 808px;
    height: 288px;
    font-size: 50px;
    font-weight: 600;
    font-family: lato;
    color: #272727;
}
.head-description {
    width: 634px;
    height: 90px;
    margin-top: 90px;
    font-size: 18px;
    font-weight: bold;
    font-family: lato;
    line-height: 20px;
    color: #7b7878;
}
button {
    width: 150px;
    height: 70px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #e55473;
    color: #ffff;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
}
/* shared - item */
.section-title {
    margin-top: 50px;
    width: 593px;
    font-size: 40px;
    font-weight: 900;
    font-family: lato;
    color: #272727;
}
.main-description {
    width: 634px;
    height: 90px;
    font-size: 18px;
    font-weight: bold;
    font-family: lato;
    line-height: 20px;
    color: #7b7878;
}
.description {
    width: 594px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    font-family: lato;
    line-height: 20px;
    color: #7b7878;
}
.container {
    width: 594px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}
.tree-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.tree-1,
.tree-2,
.tree-3 {
    width: 464px;
    height: 605px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
}
.tree-container a {
    display: block;
    color: #2d3910;
    font-size: 20px;
    font-weight: bold;
    font-family: lato;
}
.tree-1 {
    background: #a721623d;
}
.tree-2 {
    background: #0598a042;
}
.tree-3 {
    background: #477d113b;
}
.container-2 {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    display: flex;
    background: #27272715;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;
    font-size: 24px;
    font-weight: 600;
    font-family: lato;
    color: #272727c7;
    line-height: 35px;
}
.deal-container {
    width: 100%;
    margin-top: 120px;
    height: 620px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: #e5547323;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
#herro {
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image: url("../Flower\ Asset/Rectangle 9.png");
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
}
.hero-container {
    width: 866px;
    height: 206px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-top: 120px;
}
.hero-title {
    width: 373px;
    height: 48px;
    font-size: 40px;
    font-weight: 900;
    font-family: lato;
    margin-top: 40px;
    color: #272727;
}
.hero-description {
    width: 235px;
    height: 30px;
    font-size: 18px;
    font-family: lato;
    margin-top: 40px;
    color: #7b7878;
}
input {
    width: 600px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #ffff;
    color: #272727;
    padding: 20px;
}
.click {
    display: flex;
    gap: 8px;
    margin-top: 40px;
}

footer {
    width: 100%;
    height: 449px;
    background-color: #111010;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
}

.foot-title {
    width: 250px;
    height: 58px;
    font-size: 48px;
    color: #ffff;
    font-weight: 900;
    font-family: lato;
    margin: 0 auto;
}
.foot-description {
    width: 594px;
    height: 60px;
    font-size: 18px;
    font-family: lato;
    line-height: 20px;
    color: #7b7878;
}
span {
    color: #e55473;
}
small {
    color: #ffff;
    /* font-size: 20px; */
    font-weight: bold;
}
.hide {
    display: none;
}
/* responsive web for phone device */
@media screen and (max-width: 576px) {
    .head-container {
        display: block;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 5px;
    }
    .head-title {
        width: 100%;
        height: 100%;
        font-size: 20px;
    }
    .head-description {
        width: 100%;
        height: 100%;
        margin-top: 40px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 576px) {
    .container,
    .section-title,
    .main-description,
    footer {
        width: 100%;
        height: 100%;
        margin-top: 60px;
    }
    .container {
        margin-top: 50px;
    }
}
@media screen and (max-width: 576px) {
    .tree-container,
    .container-2,
    .image-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 10px;
        margin-top: 80px;
    }

    img {
        width: 100%;
        height: 80%;
        padding: 10px;
    }
}
@media screen and (max-width: 576px) {
    .deal-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        font-size: 30px;
        line-height: 70px;
    }
    .description {
        width: 90%;
    }
}
@media screen and (max-width: 576px) {
    #herro,
    .hero-container {
        width: 100%;
        height: 100%;
        line-height: 20px;
        margin-top: 70px;
    }
    .click {
        flex-direction: column;
    }
    input {
        width: 90%;
    }
}
@media screen and (max-width: 576px) {
    .foot-description {
        width: 100%;
    }
}
